<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MercadoLiebre - Login</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/normalize.css"/>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header>
		<div class="header-top">
			<div class="logo">
				<a href="/" aria-label="Click para ir al inicio">
					<img src="/images/logo-mercado-liebre.svg" width="300" height="" class="logo" alt="Logo de Mercado Libre">
				</a>
			</div>
			<div class="barra-busqueda">
				<input type="text" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas"></input>
				<button><i class="fas fa-search"></i></button>
			</div>
			
		</div>
		<div class="header-bottom">
			<div class="legend">
			<i class="fas fa-hand-holding-usd"></i>
			<p>Comprá en cuotas y sin tarjeta de crédito</p>
		</div>
		</div>
		

		<div class="menu-top">
			<!-- burger menu with icon
			<div class="burger-menu">
				<i class="fas fa-bars"></i>
			</div>
			-->
			<div class="burger-menu mobile-menu">
				<div class="line pos-1"></div>
				<div class="line pos-2"></div>
				<div class="line pos-3"></div>
			</div>
			<ul class="menu-nav-left" type="none">
						<li class	><a href="/ofertas">Ofertas</a></li>
						<li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
						<li><a href="/vender">Verder</a></li>
						<li><a href="/ayuda">Ayuda</a></li>
			</ul>
			<ul class="menu-nav-right" type="none">
				<li>
					<a href="/register">Creá tu cuenta</a>
					<i class="fas fa-address-card"></i>
				</li>
				<li>
					<a href="/login">Ingresár</a>
					<i class="fas fa-sign-in-alt"></i>
				</li>
				<li>
					<a href="/mis-compras">Mis Compras</a>
					<i class="fas fa-shopping-basket"></i>
				</li>
			</ul>
			
		
		<!-- Top Navigation Menu-->
	
	</header>
	<main>
		<form action="#" method="">
			<div class="user-info">
				<label for="user"> Nomre de usuario</label>
				<input type="text" id="user" name="user" placeholder="Usuario" minlength="3">
				<label for="password">Password:</label>
				<input type="pass" name="password" id="password" placeholder="Contraseña" minlength="8">
			</div>
			<div class="login-buttons">
				<button type="submit" id="submit">Enviar</button>
			</div>
		</form>
	</main>
	<footer>
		<ul class="foot menu" type="none">
			<li>
				<i class="fas fa-credit-card"></i>
				<p><strong>Pagá con tarjeta o en efectivo</strong><br>
					Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
					puntos de pago. ¡Y siempre es seguro!</p>
			</li>
			<li>
				<i class="fas fa-gift"></i>
				<p><strong>Envío gratis desde $ 2.500</strong><br>
					Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
					productos. Es un beneficio de Mercado Puntos.</p>
			</li>
			<li>
				<i class="fas fa-user-shield"></i>
				<p><strong>Seguridad, de principio a fin</strong><br>
					¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
					porque estás siempre protegid@.</p>
			</li>
		</ul>
		<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
	</footer>
</body>
</html>