<div class="header-top">
	<div class="logo">
		<a href="/" aria-label="Click para ir al inicio">
			<img src="/images/logo-mercado-liebre.svg" width="300" height="" class="logo" alt="Logo de Mercado Libre">
		</a>
	</div>
	<div class="barra-busqueda">
		<input type="text" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas"></input>
		<button><i class="fas fa-search"></i></button>
	</div>
</div>