<ul class="foot menu" type="none">
	<li>
		<i class="fas fa-credit-card"></i>
		<p><strong>Pagá con tarjeta o en efectivo</strong><br>
			Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
			puntos de pago. ¡Y siempre es seguro!</p>
	</li>
	<li>
		<i class="fas fa-gift"></i>
		<p><strong>Envío gratis desde $ 2.500</strong><br>
			Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
			productos. Es un beneficio de Mercado Puntos.</p>
	</li>
	<li>
		<i class="fas fa-user-shield"></i>
		<p><strong>Seguridad, de principio a fin</strong><br>
			¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
			porque estás siempre protegid@.</p>
	</li>
</ul>
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>