<div class="menu-top">
	<!-- burger menu with icon
	<div class="burger-menu">
		<i class="fas fa-bars"></i>
	</div>
	-->
	<div class="burger-menu mobile-menu">
		<div class="line pos-1"></div>
		<div class="line pos-2"></div>
		<div class="line pos-3"></div>
	</div>
	<ul class="menu-nav-left" type="none">
				<li class	><a href="/ofertas">Ofertas</a></li>
				<li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
				<li><a href="/vender">Verder</a></li>
				<li><a href="/ayuda">Ayuda</a></li>
	</ul>
	<ul class="menu-nav-right" type="none">
		<li>
			<a href="/register">Creá tu cuenta</a>
			<i class="fas fa-address-card"></i>
		</li>
		<li>
			<a href="/login">Ingresár</a>
			<i class="fas fa-sign-in-alt"></i>
		</li>
		<li>
			<a href="/mis-compras">Mis Compras</a>
			<i class="fas fa-shopping-basket"></i>
		</li>
	</ul>
</div>